$ff: "DM Sans", sans-serif;

$bg: #111827;
$grey: #f9fafb;
$light-grey: #e5e7eb;
$white: #ffffff;
$black: #000;

$grad-btn: linear-gradient(90.35deg, #2563eb 0.36%, #d946ef 201.02%);
$grad-text: linear-gradient(89.83deg, #2563eb 0.11%, #d946ef 58.65%);

$paragraph: #262626;
$terciary: #f9f1fe;
$text: #575757;
$primary: #8842f0;

$darkgrey: #6c6c6c;
$darkpurple: #1c1b1f;

$transition: 0.2s all ease-in-out;

$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;

$container: 1210px;
