.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  @include tablet {
    padding: 40px 0;
  }
  &__logo {
    display: flex;
    align-items: center;
    gap: 8px;
    @include text($ff, 2rem, 2.4rem, 500, $white);
  }
  &__burger {
    display: none;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    z-index: 5;
    width: 30px;
    height: 18px;
    cursor: pointer;
    @include tablet {
      display: flex;
    }
    span {
      height: 3px;
      width: 80%;
      border-radius: 3px;
      transform: scale(1);
      background-color: $grey;
      transition: $transition;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 3px;
      width: 100%;
      border-radius: 3px;
      background-color: $grey;
      transition: $transition;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    &.active span {
      transform: scale(0);
    }
    &.active::before {
      top: 50%;
      transform: rotate(-45deg) translate(0, -50%);
    }
    &.active::after {
      bottom: 50%;
      transform: rotate(45deg) translate(0, 50%);
    }
  }
}
.nav {
  &__ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: $transition;
    gap: 60px;
    @include tablet {
      position: fixed;
      width: 25%;
      height: 100%;
      left: 0;
      top: 0;
      overflow: auto;
      background: $paragraph;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 40px;
      z-index: 5;
      transition: $transition;
      box-shadow: 3px 3px 8px 1px $black;
      transform: translateX(-150%);
      &.active {
        transform: translateX(0);
      }
      .nav__a {
        color: $grey;
        font-size: 2rem;
      }
    }
  }

  &__li {
  }

  &__a {
    @include text($ff, 1.4rem, 1.8rem, 500, $grey);
  }
}
