.main-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
  @include tablet {
    flex-direction: column-reverse;
  }
  &__info {
    max-width: 546px;
    display: grid;
    gap: 30px;
  }

  &__title {
    @include tablet {
      text-align: center;
    }
    @include text($ff, 5.8rem, 8.4rem, 700, $grad-text);
    letter-spacing: 0.02em;
    background: linear-gradient(89.83deg, #2563eb 0.11%, #d946ef 58.65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  }

  &__desc {
    @include tablet {
      text-align: center;
    }
    @include text($ff, 1.5rem, 3rem, 500, $light-grey);
    max-width: 534px;
    opacity: 0.8;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  }

  &__action {
    display: flex;
    align-items: center;
    gap: 30px;
    @include tablet {
      justify-content: center;
    }
  }

  &__img {
  }
}
